<div class="contenedor">
  <form [formGroup]="myForm" (ngSubmit)="guardar()" class="formulario">
    <!-- Información de la institución -->
    <div class="columna-unico">
      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>Nombres:</mat-label>
          <input matInput formControlName="nombre" required>          
          <mat-error *ngIf="myForm?.get('nombre')?.hasError('required')">
            Por favor, ingrese los nombres.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>descripcion:</mat-label>
          <input matInput formControlName="descripcion" required>          
          <mat-error *ngIf="myForm?.get('descripcion')?.hasError('descripcion')">
            Por favor, ingrese los nombres.
          </mat-error>            
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>cantidad:</mat-label>
          <input matInput formControlName="cantidad" required>          
          <mat-error *ngIf="myForm?.get('cantidad')?.hasError('required')">
            Por favor, ingrese la cantidad.
          </mat-error>    
          <mat-error *ngIf="myForm?.get('cantidad')?.hasError('pattern')">
            La cantidad debe ser un valor entero.
          </mat-error>      
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>precio:</mat-label>
          <input matInput formControlName="precio" required>          
          <mat-error *ngIf="myForm?.get('precio')?.hasError('required')">
            Por favor, ingrese el precio.
          </mat-error> 
          <mat-error *ngIf="myForm?.get('cantidad')?.hasError('pattern')">
            el precio debe ser un valor numérico.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>marca:</mat-label>
          <input matInput formControlName="marca" required>          
          <mat-error *ngIf="myForm?.get('marca')?.hasError('required')">
            Por favor, ingrese la marca.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>categoria:</mat-label>
          <input matInput formControlName="categoria" required>          
          <mat-error *ngIf="myForm?.get('categoria')?.hasError('required')">
            Por favor, ingrese la categoria.
          </mat-error>          
        </mat-form-field>
      </div>

      <div class="input-container">
        <mat-form-field class="example-full-width">
          <mat-label>imagen:</mat-label>
          <input matInput formControlName="imagen" required>          
          <mat-error *ngIf="myForm?.get('imagen')?.hasError('required')">
            Por favor, ingrese la imagen.
          </mat-error>          
        </mat-form-field>
      </div>
<!--
      <div class="input-container">
        <mat-form-field>
          <mat-label>Seleccione País</mat-label>
          <mat-select formControlName="paisPersona"  required class="dropdown">
            <mat-option *ngFor="let p of pais" [value]="p.idPais">
              {{p.nombrePais}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="myForm?.get('paisPersona')?.hasError('required')">
            Por favor, ingrese el Pais.
          </mat-error>
        </mat-form-field>

      </div>-->

    </div>
    <button mat-raised-button color="primary" [disabled]="myForm.invalid" (click)="guardar()">Guardar</button>
    <button mat-raised-button color="warn" (click)="cancelar(true)">Cancelar</button>
  
  </form>
</div>